@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


@section CSS{
   <style>
        #mainContainer {
            margin-bottom:40px;
        }
   </style>
}
<!--Used as a grid layout for the body of the web pages-->
<div class="formContainer" id="mainContainer">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h1>Create a new account.</h1>

        <div class="formRow">
            <label asp-for="Input.FirstName">First Name</label>
            <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>

        <div class="formRow">
            <label asp-for="Input.LastName">First Name</label>
            <input asp-for="Input.LastName" class="form-control" aria-required="true" />
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>


        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="formRow">
            <label asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        
        <div class="formRow">
            <label asp-for="Input.Password">Password</label>
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="formRow">
            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="formRow buttonContainer">
            <button id="registerSubmit" type="submit" class="formButton">Register</button>
        </div>
    </form>

    <div class="formTheme">

        <h1>Welcome to Xmoor</h1>
        <h5>Payroll and Employee Management System</h5>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function centreForm() {
            const body = document.body;
            const html = document.documentElement;
            var header = document.getElementById("desktop-nav");
            var form = document.getElementById("mainContainer");
            var footer = document.getElementById("footer");
            const height = screen.height;
            console.log(height)
            var setHeight = (height - (footer.offsetHeight + header.offsetHeight + form.offsetHeight));
            console.log(header.offsetHeight)
            console.log(form.offsetHeight)
            console.log(setHeight);
            if(setHeight >0){
                form.style.marginTop = setHeight + "px";
                footer.style.marginTop = setHeight + "px";
            }
        }
        centreForm()
    </script>
}
