@using Xmoor.Main.Areas.Manager.ViewModels;
@model NewRoleVM

@section CSS{
    <style>
        .mainContainer {
            text-align: centre;
            width: 100%;
            margin-bottom: 20px !important;
        }

        #registerForm {
            display: grid;
            width: 100%;
            grid-template-columns: 40% 40%;
            max-width: 1000px;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            column-gap: 30px !important;
            row-gap: 20px;
        }

        #buttonContainer {
            width: 100%;
            display: flex;
            grid-column: 1/span 2;
            align-items: center;
            justify-content: space-between;
        }

        .span2 {
            grid-column: 1/span 2;
        }

    </style>
}


<div class="mainContainer">

    <form id="registerForm" method="post" asp-action="NewApplication">
        <h1 class="span2">Create New Job Application</h1>

        <label asp-for="RoleOpenning.Title"></label>
        <input asp-for="RoleOpenning.Title" />

        <label asp-for="RoleOpenning.RoleId"></label>
        <select asp-for="RoleOpenning.RoleId" asp-items="@Model.RoleList">
            <option selected disabled>PLEASE SELECT</option>
        </select>

        <label asp-for="RoleOpenning.DepartmentId"></label>
        <select asp-for="RoleOpenning.DepartmentId" asp-items="@Model.DepartmentList">
            <option selected disabled>PLEASE SELECT</option>
        </select>

        <label class="span2" asp-for="RoleOpenning.Description"></label>
        <textarea class="span2" asp-for=RoleOpenning.Description rows="30" style="width:100%;resize:none;padding:10px;"></textarea>

        

        <label asp-for="RoleOpenning.Salary"></label>
        <input asp-for="RoleOpenning.Salary" />

        <label asp-for="RoleOpenning.WorkingHours"></label>
        <input asp-for="RoleOpenning.WorkingHours" />

        <label asp-for="RoleOpenning.OpeningDate"></label>
        <input asp-for="RoleOpenning.OpeningDate" type="date" id="txtDate" />

        <label asp-for="RoleOpenning.CloseDate"></label>
        <input asp-for="RoleOpenning.CloseDate" type="date" id="txtDate" />

        <label asp-for="RoleOpenning.KeyWords"></label>
        <input asp-for="RoleOpenning.KeyWords" />

        <div id="#buttonContainer">
            <button type="submit">PUBLISH</button>
        </div>

    </form>

</div>

@section Scripts{
    <script>

        $(function () {
            var dtToday = new Date();

            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();
            if (month < 10)
                month = '0' + month.toString();
            if (day < 10)
                day = '0' + day.toString();

            var maxDate = year + '-' + month + '-' + day;

            // or instead:
            // var maxDate = dtToday.toISOString().substr(0, 10);

            $('#txtDate').attr('min', maxDate);
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
}