<div class="navigator">
    <a asp-area="Applicant" asp-controller="Applications" asp-action="Search">Search Applications</a>
</div>

<div style="width:100%;">

    <h1>Pending Applications</h1>
    <hr />


    <h1>Rejected Applications</h1>
    <hr />
</div>